.navigation {
  background: #fff;
  border-bottom: 1.5px solid rgba(217, 217, 217, 0.29);
  padding: 20px 0;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__user {
    & a {
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
}
